<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

        <form action="/guests" method="POST">
            <input type="text" Name="Text">
        </form>
        <form action="/guests" method="POST">
            <input type="email" name="Email">
        </form>
        <form action="/guests" method="POST">
            <input type="text" Plus One Name?>
        </form>
<body>
    <h2>RSVP Confirmed</h2>
    <ul>
    {% for guest in guest_friends %}
   
    {% if guest.rsvp %}
    
            <li> 
            {{guest.name}}
            </li>   
       
    {% endif %}
     {% endfor %}
    </ul>
</body>
</html>