<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RSVP</title>
</head>
    <label id="name">Name</label>
        <form action="/guests" method="POST">
            <input type="text" Name="Text">
        </form>
    <label id="email">Email</label>
        <form action="/guests" method="POST">
            <input type="email" name="email">
        </form>
        <label>Plus 1? (Optional)</label>
        <form action="/guests" method="POST">
            <input type="text" Name="plus-one">
        </form>
        <label> Phone Number</label>
        <form action="/guests" method="POST">
            <input type="number" name="phone">
        </form>
        <label> Costume Description</label>
        <form action="/guests" method="POST">
            <input type="text" name="costume">
        </form>
<body>
    <h2>RSVP Confirmed</h2>
    <ul>
    {% for guest in guest_friends %}
   
    {% if guest.rsvp %}
    
            <li> 
            {{guest.name}}
            </li>   
       
    {% endif %}
     {% endfor %}
    </ul>
</body>
</html>